    <div class="floating-contact">
        <a href="https://wa.me/919744975574" class="floating-icon whatsapp" target="_blank" title="WhatsApp Us">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="tel:+919744975574" class="floating-icon phone" title="Call Us">
            <i class="fa fa-phone"></i>
        </a>
    </div>