<!doctype html>
<html lang="zxx">
  <!-- Mirrored from html.awaikenthemes.com/healix/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Apr 2026 07:36:07 GMT -->
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Awaiken" />
    <!-- Page Title -->
    <title>Shony Talks - Contact</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <!-- Google Fonts Css-->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&amp;family=Epilogue:ital,wght@0,100..900;1,100..900&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <!-- SlickNav Css -->
    <link href="css/slicknav.min.css" rel="stylesheet" />
    <!-- Swiper Css -->
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
    <!-- Font Awesome Icon Css-->
    <link href="css/all.min.css" rel="stylesheet" media="screen" />
    <!-- Animated Css -->
    <link href="css/animate.css" rel="stylesheet" />
    <!-- Magnific Popup Core Css File -->
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <!-- Mouse Cursor Css File -->
    <link rel="stylesheet" href="css/mousecursor.css" />
    <!-- Main Custom Css -->
    <link href="css/custom.css" rel="stylesheet" media="screen" />

      <!-- toastify CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  </head>
  <body>
   
    <!-- Floating Icon Start-->
    <%- include('../partials/floatingIcons.ejs') %>
    <!-- Floating Icon End -->
    <!-- Header Start -->
	  <%- include('../partials/header.ejs') %>
    <!-- Header End -->

    <!-- Page Header Start -->
    <div class="page-header bg-section dark-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- Page Header Box Start -->
            <div class="page-header-box">
              <h1 class="text-anime-style-3" data-cursor="-opaque">
                Contact us
              </h1>
              <nav class="wow fadeInUp">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">contact us</li>
                            </ol>
                        </nav>
            </div>
            <!-- Page Header Box End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Contct Us Start -->
    <div class="page-contact-us">
      <div class="container">
        <div class="row section-row align-items-center">
          <div class="col-lg-6 col-md-8">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">contact us</h3>
              <h2 class="text-anime-style-3" data-cursor="-opaque">
                Joining Us in Creating Something Great
              </h2>
            </div>
            <!-- Section Title End -->
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-6">
            <!-- Contact Form Start -->
            <div class="contact-form wow fadeInUp" data-wow-delay="0.2s">
            <form id="contactForm">
              <div class="row">

                <div class="form-group col-md-6 mb-4">
                  <input type="text" name="fname" class="form-control"
                    placeholder="First Name"
                    required minlength="2"
                    pattern="[A-Za-z ]+">
                </div>

                <div class="form-group col-md-6 mb-4">
                  <input type="text" name="lname" class="form-control"
                    placeholder="Last Name"
                    >
                </div>

                <div class="form-group col-md-6 mb-4">
                  <input type="email" name="email" class="form-control"
                    placeholder="Email Address"
                    >
                </div>

                <div class="form-group col-md-6 mb-4">
                  <input type="tel" name="phone" class="form-control"
                    placeholder="Phone Number"
                    required
                    pattern="[0-9]{10}"
                    maxlength="10">
                </div>

                <div class="form-group col-md-12 mb-5">
                  <textarea name="message" class="form-control"
                    rows="4"
                    placeholder="Message"
                    required minlength="5"></textarea>
                </div>

                <div class="col-lg-12">
                  <button type="submit" class="btn-default">
                    Send Message
                  </button>
                </div>

              </div>
            </form>
            </div>
            <!-- Contact Form End -->
          </div>

          <div class="col-lg-6">
            <!-- Contact Us Content Start -->
            <div class="contact-us-content wow fadeInUp" data-wow-delay="0.4s">
              <!-- Contact Info List Start -->
              <div class="contact-info-list">
                <!-- Address -->
                <div class="contact-info-item">
                  <div class="icon-box">
                    <img src="images/icon-location.svg" alt="" />
                  </div>
                  <div class="contact-info-content">
                    <h3>Address</h3>
                    <p>
                      Studio for Mental Wellness and Training<br />
                      Ottathai P.O, Alakode<br />
                      Kannur, Kerala - 670571
                    </p>
                  </div>
                </div>

                <!-- Email -->
                <div class="contact-info-item">
                  <div class="icon-box">
                    <img src="images/icon-mail.svg" alt="" />
                  </div>
                  <div class="contact-info-content">
                    <h3>email us</h3>
                    <p>
                      <a href="mailto:shonytalks@gmail.com"
                        >shonytalks@gmail.com</a
                      >
                    </p>
                  </div>
                </div>

                <!-- Phone -->
                <div class="contact-info-item">
                  <div class="icon-box">
                    <img src="images/icon-phone.svg" alt="" />
                  </div>
                  <div class="contact-info-content">
                    <h3>call us</h3>
                    <p>
                      <a href="tel:+919744975574">+91 9744 975 574</a>
                    </p>
                  </div>
                </div>

                
              </div>
              <!-- Contact Info List End -->

              <!-- Social -->
              <div class="contact-social-list">
                <h3>connect with us:</h3>
                <ul>
                  <li>
                    <a
                      href="https://www.instagram.com/shonytalks"
                      target="_blank"
                    >
                      <i class="fa-brands fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://www.facebook.com/share/1GtDcWfixA/?mibextid=wwXIfr"
                      target="_blank"
                    >
                      <i class="fa-brands fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://wa.me/919744975574" target="_blank">
                      <i class="fa-brands fa-whatsapp"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Contact Us Content End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Page Contct Us End -->

    <!-- Google Map Section Start -->
  
    <!-- Google Map Section End -->

    <!-- Main Footer Section Start -->
    <%- include('../partials/footer.ejs') %>
    <!-- Main Footer Section End -->

     <!-- Login modal start -->
    <div class="modal fade" id="authModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content auth-modal">
          <!-- Close -->
          <button
            type="button"
            class="btn-close custom-close"
            data-bs-dismiss="modal"
          ></button>

          <div class="row g-0">
            <!-- LEFT IMAGE -->
            <div class="col-lg-6 d-none d-lg-block">
              <div class="auth-image">
                <div class="auth-overlay">
                  <h3 class="text-light mb-3">Welcome to Shony Talks</h3>
                  <p>Start your journey of transformation today.</p>
                </div>
              </div>
            </div>

            <!-- RIGHT CONTENT -->
            <div class="col-lg-6 col-12">
              <div class="auth-body">
                <h4 class="mb-3">Login </h4>

                <!-- STEP 1 -->
                <form id="loginForm">
                  <div class="mb-3">
                    <input type="text" id="name" class="form-control" placeholder="Full Name" required />
                  </div>

                  <div class="mb-3">
                    <input type="email" id="email" class="form-control" placeholder="Email Address" required />
                  </div>

                  <button id="otpBtn" type="button" onclick="sendOtp()" class="btn-default btn-highlighted w-100">
                  Get OTP
                </button>
                </form>

                <!-- STEP 2 OTP -->
                <div id="otpSection" style="display: none">
                  <p class="mb-2">Enter OTP sent to your email</p>

                  <div class="otp-box mb-3">
                    <input type="text" maxlength="1" class="otp-input" />
                    <input type="text" maxlength="1" class="otp-input" />
                    <input type="text" maxlength="1" class="otp-input" />
                    <input type="text" maxlength="1" class="otp-input" />
                    <input type="text" maxlength="1" class="otp-input" />
                    <input type="text" maxlength="1" class="otp-input" />
                  </div>

                <button id="verifyBtn" type="button" onclick="verifyOtp()" class="btn-default btn-highlighted w-100 mb-3">
                  Verify OTP
                </button>
                  <div class="text-center">
                    <a href="#" onclick="resendOtp()">Resend OTP</a>
                  </div>
                </div>

                <!-- DIVIDER -->
                <div class="auth-divider">
                  <span>OR</span>
                </div>

                <!-- GOOGLE LOGIN -->
                <a href="/auth/google" class="google-btn w-100 d-flex justify-content-center align-items-center text-decoration-none">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
                  alt=""
                />
                Continue with Google
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Login modal end -->

    <!-- Mobile Bottom Navbar Start -->
    <%- include('../partials/mobileNav.ejs') %>
    <!-- Mobile Bottom Navbar End -->

    <!-- contact form script -->
     <script>
document.getElementById("contactForm").addEventListener("submit", function (e) {
  e.preventDefault();

  const form = e.target;

  // Basic validation check (extra safety)
  if (!form.checkValidity()) {
    form.reportValidity();
    return;
  }

  const fname = form.fname.value.trim();
  const lname = form.lname.value.trim();
  const email = form.email.value.trim();
  const phone = form.phone.value.trim();
  const message = form.message.value.trim();

  const text =
`Hi, I would like to inquire about your services.

👤 Name: ${fname} ${lname}
📧 Email: ${email}
📞 Phone: ${phone}

💬 Message:
${message}`;

  const encodedText = encodeURIComponent(text);

  const whatsappNumber = "919744975574"; // no + sign

  const url = `https://wa.me/${whatsappNumber}?text=${encodedText}`;

  window.open(url, "_blank");
});
</script>

    <!-- Jquery Library File -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- Circle Progress Js File -->
    <script src="js/circle-progress.min.js"></script>
    <!-- Bootstrap js file -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Validator js file -->
    <script src="js/validator.min.js"></script>
    <!-- SlickNav js file -->
    <script src="js/jquery.slicknav.js"></script>
    <!-- Swiper js file -->
    <script src="js/swiper-bundle.min.js"></script>
    <!-- Counter js file -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Magnific js file -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Parallax js -->
    <script src="js/parallaxie.js"></script>
    <!-- MagicCursor js file -->
    <script src="js/gsap.min.js"></script>
    <script src="js/magiccursor.js"></script>
    <!-- Text Effect js file -->
    <script src="js/SplitText.js"></script>
    <script src="js/ScrollTrigger.min.js"></script>
    <!-- YTPlayer js File -->
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <!-- Wow js file -->
    <script src="js/wow.min.js"></script>
    <!-- Main Custom js file -->
    <script src="js/function.js"></script>
    <script src="js/auth.js"></script>
    <!-- toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </body>

  <!-- Mirrored from html.awaikenthemes.com/healix/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Apr 2026 07:36:08 GMT -->
</html>
