<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from html.awaikenthemes.com/healix/service-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Apr 2026 07:36:00 GMT -->
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Awaiken">
	<!-- Page Title -->
    <title>Shony Talks - Student Support</title>
	<!-- Favicon Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
	<!-- Google Fonts Css-->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&amp;family=Epilogue:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
	<!-- Bootstrap Css -->
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<!-- SlickNav Css -->
	<link href="css/slicknav.min.css" rel="stylesheet">
	<!-- Swiper Css -->
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<!-- Font Awesome Icon Css-->
	<link href="css/all.min.css" rel="stylesheet" media="screen">
	<!-- Animated Css -->
	<link href="css/animate.css" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Mouse Cursor Css File -->
	<link rel="stylesheet" href="css/mousecursor.css">
	<!-- Main Custom Css -->
	<link href="css/custom.css" rel="stylesheet" media="screen">
</head>
<body>

    <!-- Floating Icon Start-->
    <div class="floating-contact">
        <a href="https://wa.me/919744975574" class="floating-icon whatsapp" target="_blank" title="WhatsApp Us">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="tel:+919744975574" class="floating-icon phone" title="Call Us">
            <i class="fa fa-phone"></i>
        </a>
    </div>
    <!-- Floating Icon End -->

    <!-- Header Start -->
	<header class="main-header bg-section">
      <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <!-- Logo Start -->
            <a class="navbar-brand" href="/">
              <img class="logo-img" src="images/logo.png" alt="Logo" />
            </a>
            <!-- Logo End -->

            <!-- Main Menu Start -->
            <div class="collapse navbar-collapse main-menu">
              <div class="nav-menu-wrapper">
                <ul class="navbar-nav mr-auto" id="menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT US</a>
                  </li>
                  <li class="nav-item submenu">
                    <a class="nav-link" href="/services">SERVICES</a>
                    <ul>
                      <li class="nav-item">
                        <a class="nav-link" href="/personal-service"
                          >Personal Support</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/family-service"
                          >Family Support</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/student-service"
                          >Student Support</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/organization-service"
                          >Corporate Wellness</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/workspace-service"
                          >Workplace Wellness</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/frontline-service"
                          >Healthcare Support</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/programs">PROGRAMS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/courses">COURSES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">CONTACT US</a>
                  </li>
                </ul>
              </div>

              <!-- Header Btn Start -->
              <div class="header-btn">
                <a
                  href="#"
                  class="profile-icon"
                  data-bs-toggle="modal"
                  data-bs-target="#authModal"
                >
                  <i class="fa fa-user"></i>
                </a>
              </div>
              <!-- Header Btn End -->
            </div>
            <!-- Main Menu End -->
            <div class="navbar-toggle"></div>
          </div>
        </nav>
        <div class="responsive-menu"></div>
      </div>
    </header>
	<!-- Header End -->

    <!-- Page Header Start -->
    <div class="page-header bg-section dark-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="text-anime-style-3" data-cursor="-opaque">Mastering the Journey</h1>
                        <nav class="wow fadeInUp">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">home</a></li>
                                <li class="breadcrumb-item"><a href="/services">services</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Mastering the Journey</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Service Single Start -->
    <div class="page-service-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Page Single Sidebar Start -->
                    <div class="page-single-sidebar">
                        <!-- Page Category List Start -->
                        <div class="page-catagery-list wow fadeInUp">
                            <h3>Our Services</h3>
                            <ul>
                                <li><a href="/personal-service">A Space Just For You</a></li>
                                <li><a href="/family-service">Better Together</a></li>
                                <li><a href="/student-service">Mastering the Journey</a></li>
                                <li><a href="/organization-service">Lead with Resilience</a></li>
                                <li><a href="/workspace-service">A Healthier Workspace</a></li>
                                <li><a href="/frontline-service">Supporting the Frontline</a></li>
                            </ul>
                        </div>
                        <!-- Page Category List End -->

                        <!-- Sidebar CTA Box Start -->
                        <div class="page-cta-box sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
                            <!-- Service Content Info Start -->
                            <div class="page-cta-box-info">
                                <h3>Have You any question</h3>
                                <h2>Don't waste your time call us! </h2>
                            </div>
                            <!-- Service Content Info End -->
        
                            <!-- Contact Now Box Start -->
                            <div class="contact-now-box">
                                <div class="icon-box">
                                    <img src="images/icon-phone.svg" alt="">
                                </div>
                                <div class="contact-now-box-content">
                                    <!-- <p>contact today!</p> -->
                                    <h3><a href="tel:+919744975574">+91 9744975574</a></h3>
                                </div>
                            </div>
                            <!-- Contact Now Box End -->
                        </div>
                        <!-- Sidebar CTA Box End -->
                    </div>
                    <!-- Page Single Sidebar End -->
                </div>
                
                <div class="col-lg-8">
                    <!-- Service Single Content Start -->
                    <div class="service-single-content">
                        <!-- Service Featured Image Start -->
                        <div class="service-featured-image">
                            <figure class="image-anime reveal">
                                <img src="images/stud-service.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Service Featured Image End -->

                        <!-- Service Entry Start -->
                        <div class="service-entry">
                            <!-- <p class="wow fadeInUp">Maintaining a balanced diet is key to a healthier life. Our Nutrition Counseling service provides personalized guidance to help you make informed dietary choices. Whether you're looking to manage weight, improve digestion, or boost energy levels, our expert nutritionists create customized meal plans based on your unique lifestyle, preferences, and health goals. We focus on sustainable eating habits rather than quick fixes.</p> -->

                            <!-- Service Solutions Box Start -->
                            <div class="service-solutions-box">
                                <h2 class="text-anime-style-3">Mastering the Journey: Student Guidance for School & College</h2>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">The transition through school and college is one of the most transformative periods of a person's life. ShonyTalk provides a holistic support system that balances academic pressure with emotional well-being. By offering both personalized one-on-one mentoring and collaborative group classes, we empower students to navigate the complexities of modern education, build unwavering self-confidence, and define their own path to success.</p>

                                
                            </div>
                            <!-- Service Solutions Box End -->

                            <!-- Service Personalized Box Start -->
                            <div class="service-personalized-box">
                                <h2 class="text-anime-style-3">Why Choose ShonyTalk?</h2>
                                <!-- <p class="wow fadeInUp">We offer customized health solutions that are tailored to your individual needs. Our expert team works with you to create a plan that enhances your well-being and supports your lifestyle goals.</p> -->
                                
                                <!-- Service Personalized Image Content Start -->
                                <div class="service-personalized-image-conetnt">
                                    <!-- Service Personalized Content Start -->
                                    <div class="service-personalized-conetnt">
                                        <ul class="wow fadeInUp" data-wow-delay="0.2s">
                                            <li>Group Learning Environments: Interactive classes that foster peer support and collective problem-solving.</li>
                                            <li>Individual Mentorship: Deep-dive sessions focused exclusively on a student’s specific hurdles and goals.</li>
                                            <li>Academic & Emotional Balance: Strategies to manage high-stakes testing while maintaining mental health.</li>
                                            <li>College Transition Prep: Specialized guidance for students moving from school to the independence of college life.</li>
                                            <li>Flexible Delivery: Available on-campus, at our center, or through our digital learning platform.</li>
                                        </ul>
        
                                        
                                    </div>
                                    <!-- Service Personalized Content End -->

                                    
                                </div>
                                <!-- Service Personalized Image Content End -->
                            </div>
                            <!-- Service Personalized Box End -->

                            
                        </div>
                        <!-- Service Entry End -->

                    <!-- FAQs Content Start -->
                    <div class="faqs-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Frequently asked questions</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Your Questions, Answered</h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- FAQ Accordion Start -->
                        <div class="faq-accordion" id="faqaccordion">
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        What is Shony Talks?
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>Shony Talks is a personal development platform that focuses on transformation through structured programs, mentoring, and workshops designed to support individuals in achieving clarity, confidence, and growth.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        Who can benefit from these programs?
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>Our programs are designed for students, professionals, parents, and organizations seeking meaningful growth, improved mindset, and enhanced life direction.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                <h2 class="accordion-header" id="heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        How can I enroll in a program?
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>You can enroll by contacting us through the website or WhatsApp. Our team will guide you through the available programs and assist with the registration process.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->    

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        Are sessions conducted online or offline?
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>We offer both online and offline sessions depending on the nature of the program and participant preference.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                        </div>
                        <!-- FAQ Accordion End -->
                    </div>
                    <!-- FAQs Content End -->
                    </div>
                    <!-- Service Single Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Service Single End -->

     <!-- Main Footer Section Start -->
    <footer class="main-footer bg-section dark-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-footer-box">
              <!-- About -->
              <div class="footer-about">
                <div class="footer-logo">
                  <img
                    src="images/logo.jpg"
                    alt="Shony Talks"
                    class="rounded"
                  />
                </div>

                <div class="about-footer-content">
                  <p>
                    Shony Talks is a life transformation platform helping
                    individuals build clarity, confidence, and emotional
                    strength through guided programs and practical techniques.
                  </p>
                </div>

                <div class="footer-menu">
                  <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about us</a></li>
                    <li><a href="/services">services</a></li>
                    <li><a href="/programs">programs</a></li>
                    <li><a href="/courses">courses</a></li>
                    <li><a href="/blogs">blogs</a></li>
                    <li><a href="/contact">contact</a></li>
                  </ul>
                </div>
              </div>

              <!-- Links -->
              <div class="footer-links-box">
                <!-- Services -->
                <div class="footer-links">
                  <h3>Our Services</h3>
                  <ul>
                    <li>
                      <a href="/personal-service">Personal Support</a>
                    </li>
                    <li><a href="/family-service">Family Support</a></li>
                    <li><a href="/student-service">Student Support</a></li>
                    <li>
                      <a href="/organization-service">Corporate Wellness</a>
                    </li>
                    <li>
                      <a href="/workspace-service">Workplace Wellness</a>
                    </li>
                    <li>
                      <a href="/frontline-service">Healthcare Support</a>
                    </li>
                  </ul>
                </div>

                <!-- Contact Block -->
                <div class="footer-links">
                  <h3>Contact Us</h3>
                  <ul>
                    <li>
                      <i class="fa fa-location-dot me-2"></i>
                      Studio for Mental Wellness and Training,
                    </li>
                    <li>Ottathai P.O, Alakode</li>
                    <li>Kannur, Kerala 670571</li>
                    <li class="mt-2">
                      <i class="fa fa-phone me-2"></i>
                      <a href="tel:+919744975574">+91 9744 975 574</a>
                    </li>
                    <li>
                      <i class="fa fa-envelope me-2"></i>
                      <a href="mailto:shonytalks@gmail.com"
                        >shonytalks@gmail.com</a
                      >
                    </li>
                  </ul>
                </div>

                <!-- Social -->
                <div class="footer-social-links">
                  <span>Connect With Us:</span>
                  <ul>
                    <li>
                      <a
                        href="https://www.instagram.com/shonytalks"
                        target="_blank"
                      >
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.facebook.com/share/1GtDcWfixA/?mibextid=wwXIfr"
                        target="_blank"
                      >
                        <i class="fa-brands fa-facebook-f"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://wa.me/919744975574" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bottom -->
      <div class="footer-copyright">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-5">
              <div class="footer-copyright-text">
                <p>
                  © 2026 Shony Talks. All Rights Reserved. <br />
                  Developed by
                  <a class="triv-link"
                    href="https://trivlogic.com/"
                    target="_blank"
                    rel="noopener"
                  >
                    Trivlogic Private Limited
                  </a>
                </p>
              </div>
            </div>

            <div class="col-lg-6 col-md-7">
              <div class="footer-privacy-policy">
                <ul>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="/contact">Support</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Main Footer Section End -->

     <!-- Login modal start -->
    <div class="modal fade" id="authModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content auth-modal">
          <!-- Close -->
          <button
            type="button"
            class="btn-close custom-close"
            data-bs-dismiss="modal"
          ></button>

          <div class="row g-0">
            <!-- LEFT IMAGE -->
            <div class="col-lg-6 d-none d-lg-block">
              <div class="auth-image">
                <div class="auth-overlay">
                  <h3 class="text-light mb-3">Welcome to Shony Talks</h3>
                  <p>Start your journey of transformation today.</p>
                </div>
              </div>
            </div>

            <!-- RIGHT CONTENT -->
            <div class="col-lg-6 col-12">
              <div class="auth-body">
                <h4 class="mb-3">Login </h4>

                <!-- STEP 1 -->
                <form id="loginForm">
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Full Name"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email Address"
                      required
                    />
                  </div>

                  <button
                    type="button"
                    class="btn-default btn-highlighted w-100"
                    onclick="showOtp()"
                  >
                    Get OTP
                  </button>
                </form>

                <!-- STEP 2 OTP -->
                <div id="otpSection" style="display: none">
                  <p class="mb-2">Enter OTP sent to your email</p>

                  <div class="otp-box mb-3">
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                  </div>

                  <button class="btn-default btn-highlighted w-100 mb-3">Verify OTP</button>

                  <div class="text-center">
                    <a href="#" onclick="resendOtp()">Resend OTP</a>
                  </div>
                </div>

                <!-- DIVIDER -->
                <div class="auth-divider">
                  <span>OR</span>
                </div>

                <!-- GOOGLE LOGIN -->
                <button class="google-btn w-100">
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
                    alt=""
                  />
                  Continue with Google
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Login modal end -->

    <!-- Mobile Bottom Navbar Start -->
    <nav class="mobile-bottom-navbar d-lg-none">
      <a href="/" class="mobile-nav-item">
        <span class="mobile-nav-icon"><i class="fa-solid fa-house"></i></span>
        <span>Home</span>
      </a>
      <a href="/services" class="mobile-nav-item">
        <span class="mobile-nav-icon"
          ><i class="fa-solid fa-hand-holding-medical"></i
        ></span>
        <span>Services</span>
      </a>
      <a href="/programs" class="mobile-nav-item">
        <span class="mobile-nav-icon"
          ><i class="fa-solid fa-list-check"></i
        ></span>
        <span>Programs</span>
      </a>
      <a href="/courses" class="mobile-nav-item">
        <span class="mobile-nav-icon"
          ><i class="fa-solid fa-certificate"></i
        ></span>
        <span>Courses</span>
      </a>
      <a
        href=""
        class="mobile-nav-item"
        data-bs-toggle="modal"
        data-bs-target="#authModal"
      >
        <span class="mobile-nav-icon"><i class="fa-solid fa-user"></i></span>
        <span>Login</span>
      </a>
    </nav>
    <!-- Mobile Bottom Navbar End -->

    <!-- Jquery Library File -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- Circle Progress Js File -->
    <script src="js/circle-progress.min.js"></script>
    <!-- Bootstrap js file -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Validator js file -->
    <script src="js/validator.min.js"></script>
    <!-- SlickNav js file -->
    <script src="js/jquery.slicknav.js"></script>
    <!-- Swiper js file -->
    <script src="js/swiper-bundle.min.js"></script>
    <!-- Counter js file -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Magnific js file -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Parallax js -->
    <script src="js/parallaxie.js"></script>
    <!-- MagicCursor js file -->
    <script src="js/gsap.min.js"></script>
    <script src="js/magiccursor.js"></script>
    <!-- Text Effect js file -->
    <script src="js/SplitText.js"></script>
    <script src="js/ScrollTrigger.min.js"></script>
    <!-- YTPlayer js File -->
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <!-- Wow js file -->
    <script src="js/wow.min.js"></script>
    <!-- Main Custom js file -->
    <script src="js/function.js"></script>
</body>

<!-- Mirrored from html.awaikenthemes.com/healix/service-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Apr 2026 07:36:01 GMT -->
</html>