<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from html.awaikenthemes.com/healix/team.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Apr 2026 07:36:03 GMT -->
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Awaiken">
	<!-- Page Title -->
    <title>Shony Talks - Team</title>
	<!-- Favicon Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
	<!-- Google Fonts Css-->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&amp;family=Epilogue:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
	<!-- Bootstrap Css -->
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<!-- SlickNav Css -->
	<link href="css/slicknav.min.css" rel="stylesheet">
	<!-- Swiper Css -->
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<!-- Font Awesome Icon Css-->
	<link href="css/all.min.css" rel="stylesheet" media="screen">
	<!-- Animated Css -->
	<link href="css/animate.css" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Mouse Cursor Css File -->
	<link rel="stylesheet" href="css/mousecursor.css">
	<!-- Main Custom Css -->
	<link href="css/custom.css" rel="stylesheet" media="screen">
</head>
<body>

    <!-- Floating Icon Start-->
    <div class="floating-contact">
        <a href="https://wa.me/919744975574" class="floating-icon whatsapp" target="_blank" title="WhatsApp Us">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="tel:+919744975574" class="floating-icon phone" title="Call Us">
            <i class="fa fa-phone"></i>
        </a>
    </div>
    <!-- Floating Icon End -->
    <!-- Header Start -->
	<header class="main-header bg-section">
      <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <!-- Logo Start -->
            <a class="navbar-brand" href="index.html">
              <img class="logo-img" src="images/logo.png" alt="Logo" />
            </a>
            <!-- Logo End -->

            <!-- Main Menu Start -->
            <div class="collapse navbar-collapse main-menu">
              <div class="nav-menu-wrapper">
                <ul class="navbar-nav mr-auto" id="menu">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html">ABOUT US</a>
                  </li>
                    <li class="nav-item submenu"><a class="nav-link" href="services.html">SERVICES</a>
                    <ul>
                      <li class="nav-item">
                        <a class="nav-link" href="personal-service.html"
                          >Personal Support</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="family-service.html"
                          >Family Support</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="student-service.html"
                          >Student Support</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="organization-service.html"
                          >Corporate Wellness</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="workspace-service.html"
                          >Workplace Wellness</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="frontline-service.html"
                          >Healthcare Support</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="programs.html">PROGRAMS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="course.html">COURSES</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">CONTACT US</a>
                  </li>
                </ul>
              </div>

              <!-- Header Btn Start -->
              <div class="header-btn">
                <a href="account.html" class="profile-icon">
                  <i class="fa fa-user"></i>
                </a>
              </div>
              <!-- Header Btn End -->
            </div>
            <!-- Main Menu End -->
            <div class="navbar-toggle"></div>
          </div>
        </nav>
        <div class="responsive-menu"></div>
      </div>
    </header>
	<!-- Header End -->

    <!-- Page Header Start -->
    <div class="page-header bg-section dark-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="text-anime-style-3" data-cursor="-opaque">Our Experts</h1>
                        
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Team Start -->
    <div class="page-team">
        <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                      <div class="team-image">
                          <img src="images/team-1.jpg" alt="NLP Trainer">
                          <div class="team-social">
                              <ul>
                                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="team-content">
                          <h3>Expert Name</h3>
                          <p>Lead NLP Trainer</p>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6">
                  <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                      <div class="team-image">
                          <img src="images/team-2.jpg" alt="Psychologist">
                          <div class="team-social">
                              <ul>
                                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="team-content">
                          <h3>Expert Name</h3>
                          <p>Counseling Psychologist</p>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6">
                  <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                      <div class="team-image">
                          <img src="images/team-3.jpg" alt="Psychiatrist">
                          <div class="team-social">
                              <ul>
                                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="team-content">
                          <h3>Expert Name</h3>
                          <p>Consultant Psychiatrist</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <!-- Page Team End -->

    <!-- Main Footer Section Start -->
    <footer class="main-footer bg-section dark-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-footer-box">
              <!-- About -->
              <div class="footer-about">
                <div class="footer-logo">
                  <img
                    src="images/logo.jpg"
                    alt="Shony Talks"
                    class="rounded"
                  />
                </div>

                <div class="about-footer-content">
                  <p>
                    Shony Talks is a life transformation platform helping
                    individuals build clarity, confidence, and emotional
                    strength through guided programs and practical techniques.
                  </p>
                </div>

                <div class="footer-menu">
                  <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="about.html">about us</a></li>
                    <li><a href="services.html">services</a></li>
                    <li><a href="programs.html">programs</a></li>
                    <li><a href="course.html">courses</a></li>
                    <li><a href="blog.html">blogs</a></li>
                    <li><a href="contact.html">contact</a></li>
                  </ul>
                </div>
              </div>

              <!-- Links -->
              <div class="footer-links-box">
                <!-- Services -->
                <div class="footer-links">
                  <h3>Our Services</h3>
                  <ul>
                    <li>
                      <a href="personal-service.html">Personal Support</a>
                    </li>
                    <li><a href="family-service.html">Family Support</a></li>
                    <li><a href="student-service.html">Student Support</a></li>
                    <li>
                      <a href="organization-service.html">Corporate Wellness</a>
                    </li>
                    <li>
                      <a href="workspace-service.html">Workplace Wellness</a>
                    </li>
                    <li>
                      <a href="frontline-service.html">Healthcare Support</a>
                    </li>
                  </ul>
                </div>

                <!-- Contact Block -->
                <div class="footer-links">
                  <h3>Contact Us</h3>
                  <ul>
                    <li>
                      <i class="fa fa-location-dot me-2"></i>
                      Studio for Mental Wellness and Training,
                    </li>
                    <li>Ottathai P.O, Alakode</li>
                    <li>Kannur, Kerala 670571</li>
                    <li class="mt-2">
                      <i class="fa fa-phone me-2"></i>
                      <a href="tel:+919744975574">+91 9744 975 574</a>
                    </li>
                    <li>
                      <i class="fa fa-envelope me-2"></i>
                      <a href="mailto:shonytalks@gmail.com"
                        >shonytalks@gmail.com</a
                      >
                    </li>
                  </ul>
                </div>

                <!-- Social -->
                <div class="footer-social-links">
                  <span>Connect With Us:</span>
                  <ul>
                    <li>
                      <a
                        href="https://www.instagram.com/shonytalks"
                        target="_blank"
                      >
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.facebook.com/share/1GtDcWfixA/?mibextid=wwXIfr"
                        target="_blank"
                      >
                        <i class="fa-brands fa-facebook-f"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://wa.me/919744975574" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bottom -->
      <div class="footer-copyright">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-5">
              <div class="footer-copyright-text">
                <p>
                  © 2026 Shony Talks. All Rights Reserved. <br />
                  Developed by
                  <a class="triv-link"
                    href="https://trivlogic.com/"
                    target="_blank"
                    rel="noopener"
                  >
                    Trivlogic Private Limited
                  </a>
                </p>
              </div>
            </div>

            <div class="col-lg-6 col-md-7">
              <div class="footer-privacy-policy">
                <ul>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="contact.html">Support</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Main Footer Section End -->

     <!-- Login modal start -->
    <div class="modal fade" id="authModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content auth-modal">
          <!-- Close -->
          <button
            type="button"
            class="btn-close custom-close"
            data-bs-dismiss="modal"
          ></button>

          <div class="row g-0">
            <!-- LEFT IMAGE -->
            <div class="col-lg-6 d-none d-lg-block">
              <div class="auth-image">
                <div class="auth-overlay">
                  <h3 class="text-light mb-3">Welcome to Shony Talks</h3>
                  <p>Start your journey of transformation today.</p>
                </div>
              </div>
            </div>

            <!-- RIGHT CONTENT -->
            <div class="col-lg-6 col-12">
              <div class="auth-body">
                <h4 class="mb-3">Login </h4>

                <!-- STEP 1 -->
                <form id="loginForm">
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Full Name"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email Address"
                      required
                    />
                  </div>

                  <button
                    type="button"
                    class="btn-default btn-highlighted w-100"
                    onclick="showOtp()"
                  >
                    Get OTP
                  </button>
                </form>

                <!-- STEP 2 OTP -->
                <div id="otpSection" style="display: none">
                  <p class="mb-2">Enter OTP sent to your email</p>

                  <div class="otp-box mb-3">
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                  </div>

                  <button class="btn-default btn-highlighted w-100 mb-3">Verify OTP</button>

                  <div class="text-center">
                    <a href="#" onclick="resendOtp()">Resend OTP</a>
                  </div>
                </div>

                <!-- DIVIDER -->
                <div class="auth-divider">
                  <span>OR</span>
                </div>

                <!-- GOOGLE LOGIN -->
                <button class="google-btn w-100">
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
                    alt=""
                  />
                  Continue with Google
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Login modal end -->

    <!-- Mobile Bottom Navbar Start -->
    <nav class="mobile-bottom-navbar d-lg-none">
      <a href="index.html" class="mobile-nav-item">
        <span class="mobile-nav-icon"><i class="fa-solid fa-house"></i></span>
        <span>Home</span>
      </a>
      <a href="services.html" class="mobile-nav-item">
        <span class="mobile-nav-icon"
          ><i class="fa-solid fa-hand-holding-medical"></i
        ></span>
        <span>Services</span>
      </a>
      <a href="programs.html" class="mobile-nav-item">
        <span class="mobile-nav-icon"
          ><i class="fa-solid fa-list-check"></i
        ></span>
        <span>Programs</span>
      </a>
      <a href="course.html" class="mobile-nav-item">
        <span class="mobile-nav-icon"
          ><i class="fa-solid fa-certificate"></i
        ></span>
        <span>Courses</span>
      </a>
      <a href="" class="mobile-nav-item" data-bs-toggle="modal"
                  data-bs-target="#authModal">
        <span class="mobile-nav-icon" ><i class="fa-solid fa-user"></i></span>
        <span>Login</span>
      </a>
    </nav>
    <!-- Mobile Bottom Navbar End -->

    <!-- Jquery Library File -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- Circle Progress Js File -->
    <script src="js/circle-progress.min.js"></script>
    <!-- Bootstrap js file -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Validator js file -->
    <script src="js/validator.min.js"></script>
    <!-- SlickNav js file -->
    <script src="js/jquery.slicknav.js"></script>
    <!-- Swiper js file -->
    <script src="js/swiper-bundle.min.js"></script>
    <!-- Counter js file -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Magnific js file -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Parallax js -->
    <script src="js/parallaxie.js"></script>
    <!-- MagicCursor js file -->
    <script src="js/gsap.min.js"></script>
    <script src="js/magiccursor.js"></script>
    <!-- Text Effect js file -->
    <script src="js/SplitText.js"></script>
    <script src="js/ScrollTrigger.min.js"></script>
    <!-- YTPlayer js File -->
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <!-- Wow js file -->
    <script src="js/wow.min.js"></script>
    <!-- Main Custom js file -->
    <script src="js/function.js"></script>
</body>

<!-- Mirrored from html.awaikenthemes.com/healix/team.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Apr 2026 07:36:03 GMT -->
</html>